h1,h2,nav,div{
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}
body{
	background-image: url("file:///C:/Users/shj72/Desktop/h234.png");
	background-size: contain;
	background-repeat: repeat-y;
}
title{
	background-color: #DFE4F2;
}
#h1{
	background-image: url("file:///C:/Users/shj72/Desktop/h1.png");
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
h1{
	padding: 0;
	margin: 0;
	position: absolute;
	top: 20%;
	left: 35%;
	font-size: 50px;
	color: #324759
	font-weight: bold;
}
h2{
	font-size: 27px;
	font-weight: bold;
}
a{
	color: black;
	text-decoration: none;
	font-size: 20px;
}
.AboutMe, .Learning, .Favorite {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.univ, .JP, .JS, .HTML, .Game, .Sweets, .Book {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    object-fit: cover;
}
.CSS{
	width: 200px;
    height: 200px;
    border-radius: 70%;
    border-color: #B0BDD9;
    object-fit: cover;
}